<!DOCTYPE html>

<html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h2>You will recieve any updates on your post.</h2>
     <h2>Topic: <%= @post.topic.name %><h2>

       <h3> Title: <%= @post.title %></h3>

     <h4>
      Body: <%= @post.body %>
     </h4>

     <p>
       <%= link_to "View Your Post", topic_post_url(@post.topic, @post) %>
     </p>
   </body>
 </html>
