<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<a class="social-btn ion-social-facebook" href="https://www.facebook.com"></a>
<a class="social-btn ion-social-twitter" href="https://www.twitter.com"></a>
<a class="social-btn ion-social-instagram" href="https://www.instagram.com"></a>
<a class="social-btn ion-social-github" href="https://www.github.com"></a>
<%= link_to "Follow me", "https://www.facebook.com/derek.lin.618", class: "btn btn-default social-btn" %>
