<h1>Edit Post</h1>

<div class="row">

  <div class="col-md-4">
    <p>Guidelines for topics:</p>
    <ul>
      <li>Make sure the topic is appropriate.</li>
      <li>Never insult dogs.</li>
      <li>Smile when you type.</li>
    </ul>
  </div>

   <div class="col-md-8">
     <!-- here we specify the resource objects as elements
      to the create action route of the form -->
     <%= render partial: 'form', locals: { topic: @post.topic, post: @post } %>
  </div>

</div>


<!--

Q - WAT DOES THIS MEAN?

Although the partial does have acce
ss to @post, it's a better practice to use lo
cal variables. A primary reason is flexibility.
We want to be able to render our partial on any page,
 whether or not it has acce
ss to the same instance variables.-->
