@import "bootstrap-sprockets";
@import "bootstrap";
@import "global";
@import "welcome";


.user-info {
   margin-top: 5px;
   margin-right: 5px;
 }


 .gravatar {
   margin-bottom: 5px;
   margin-top: 5px;
   margin-right: 5px;
 }

 .nav {
   margin-top: 5px;
 }
