
<div class = "vote-arrows pull-left">
  <div><%= link_to " ", "#", class: 'glypichon glyphicon-chevron-up'%></div>
  <div><strong><%= post.points %></strong></div>
  <div><%= link_to " ", "#", class: 'glypichon glyphicon-chevron-down'%></div>
</div>
